In [12]:
# Imports
import pandas as pd
import numpy as np

# Plotting
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')
import seaborn as sns
%matplotlib inline

In [17]:
# Importing dataset
dt = pd.read_csv("data/data.csv")
dt.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [23]:
# Multivariate Normal Distribution
# Mean Vector (mu) & Covariance Matrix (sigma)
# One Hot Encoding

# Get one hot encoding of columns B
one_hot = pd.get_dummies(dt['Classification'])
# Drop column 'Classification' as it is now encoded
df = dt.drop('Classification',axis = 1)
# Join the encoded dt
df = df.join(one_hot)
df.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,1,2
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1,0
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1,0
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1,0
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1,0
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1,0

In [49]:
# dt = (dt - dt.mean())/dt.std()
df1 = df.loc[df[1] == 1]
df2 = df.loc[df[2] == 1]
mean1 = df1.mean()
mean2 = df2.mean()
df2.index

Int64Index([ 52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
             65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
             78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
             91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
            104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115],
           dtype='int64')

In [ ]:
# Covariance matrix
cov = Dataframe([[],[]],index=df1)

In [28]:
# The multivariate normal distribution
y = 1/((2*22/7))