In [31]:
# Implementing Mean of Squares Regression without libraries

In [32]:
import numpy as np
import pandas as pd
import math

In [33]:
# Plotting
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')
import seaborn as sns
%matplotlib inline

In [34]:
# Importing dataset
dt = pd.read_csv("../input/q_1.csv")
dt.describe()

               t           P
count   6.000000    6.000000
mean   24.500000  168.166667
std    13.095801  125.588880
min     7.000000    8.000000
25%    15.750000   64.000000
50%    24.500000  191.500000
75%    33.250000  272.500000
max    42.000000  297.000000