In [6]:
import pandas as pd
import numpy as nm
import seaborn as sns
%matplotlib inline

In [7]:
dataset = pd.read_csv("../input/q_1.csv")
dataset.describe()

              x         y
count  5.000000  5.000000
mean   0.300000  0.428000
std    0.158114  0.373055
min    0.100000  0.060000
25%    0.200000  0.120000
50%    0.300000  0.360000
75%    0.400000  0.650000
max    0.500000  0.950000